{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-decorators",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
